In [31]:
import mysql.connector
import pandas as pd

In [17]:
# Establish the connection
connection = mysql.connector.connect(
    host="***",          # e.g., 'localhost' or an IP address
    user="***",          # e.g., 'root'
    password="***",  # Your MySQL password
    database="world"   # The database where the table resides
)

In [19]:
# Create a cursor object to interact with the database
cursor = connection.cursor()

In [23]:
# Query to fetch all rows from the table
query = "SELECT * FROM city"
cursor.execute(query)

# Fetch all rows
results = cursor.fetchall()

In [39]:
#1st items on every tuple are the column names

cursor.description

[('ID', 3, None, None, None, None, 0, 49667, 63),
 ('Name', 254, None, None, None, None, 0, 1, 255),
 ('CountryCode', 254, None, None, None, None, 0, 16393, 255),
 ('District', 254, None, None, None, None, 0, 1, 255),
 ('Population', 3, None, None, None, None, 0, 32769, 63)]

In [41]:
# Convert to a pandas DataFrame

df = pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

In [43]:
df

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [49]:
# Close the cursor and connection

cursor.close()
connection.close()